body {background-color: powderblue;}
h1   {font-family: Ariel, Helvetica, sans-serif; font-size:2.5em; color: black;}
p    {font-family: Ariel, Helvetica, sans-serif; font-size:1.875em; color: black;}
p1   {font-family: Ariel, Helvetica, sans-serif; font-size:0.875em; color: black;}
a:link      {color: steelblue;}
a:visited   {color: prussianblue}
a:hover     {color: bondiblue}
a:active    {color: darkslateblue}

<div class="w3-bar w3-black">
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="about.html" class="w3-bar-item w3-button">About</a>
  <a href="research.html" class="w3-bar-item w3-button">Research</a>
  <a href="publications" class="w3-bar-item w3-button">Publications</a>
  <a href="CV" class="w3-bar-item w3-button">CV</a>
</div>